.b1 
{
    background-color: rgb(236, 39, 39);
}
.b2 
{
    background-color: rgb(162, 122, 236);
}
.b3 
{
    background-color: rgb(136, 241, 168);
}
.b4 
{
    background-color: rgb(241, 136, 223);
}
